<p id="notice"><%= notice %></p>

<p>
  <strong>Stopnumber:</strong>
  <%= @stop.stopNumber %>
</p>

<p>
  <strong>Onstreet:</strong>
  <%= @stop.onStreet %>
</p>

<p>
  <strong>Atstreet:</strong>
  <%= @stop.atStreet %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @stop.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @stop.lon %>
</p>

<div class="col-xs-9">
      <html>
        <body>

          <% latLonArr = Bus.parseLatLon(@bus) %>
          <% html = Bus.imgStr(latLonArr) %>

          <% img_height = 600 %>
          
          <img src=<%= html %> alt="Lamp" width=<%= img_height.to_s %> height=<%= img_height.to_s %> >

        </body>
      </html>
    </div>

<%= link_to 'Edit', edit_stop_path(@stop) %> |
<%= link_to 'Back', stops_path %>
